section{
    border: 1px solid black;
}
body{
    //background-image: url("../images/geldspeicher1.jpg");
    //background-repeat: no-repeat;
    //background-size: contain;
    background-color: lightblue;

}
/*#inputArea{
    display:none;
}*/

.panzer{
    background-image:url("../images/BeaglesWalk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    outline:1px solid red;
}

h1{
    text-align: center;
}
#start{
    width:50%;
    margin:auto;
    outline:1px solid green;
    position: relative;
    left: 25vw;
}
#inputArea{
    
}
