section{
    border: 1px solid black;
}
body{
    background-image: url("../images/geldspeicher.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightblue;

}
/*#inputArea{
    display:none;
}*/

.panzer{
    background-image:url("../images/BeaglesWalk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}